.content{
    width: 480px;
    height: 430px;
    margin: 180px auto 362px;
}

.title{
    text-align: center;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.button{
    display: flex;
    justify-content: center;
}

.text{
    text-align: center;
}

.link{
    color: #4C4CFF;
    text-decoration: none;
}