.link{
    color: #F2F2F3;
    text-decoration: none;
}

.element{
    width: 272px;
    position: relative;
}

.price{
    display: flex;
    justify-content: center;
}

.text{
    height: 48px;
    text-align: center;
}